@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-image: url("/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply h-dvh w-dvw overflow-hidden;
  }

  nav {
    @apply flex items-center justify-between bg-white/50 p-2 px-5 backdrop-blur-3xl select-none;

    div {
      @apply flex items-center gap-5 max-sm:w-full max-sm:justify-center;

      &:last-child {
        @apply max-sm:hidden;
      }
    }

    ul {
      @apply flex items-center gap-5 max-sm:hidden;

      p {
        @apply cursor-pointer text-sm transition-all hover:underline;
      }
    }

    time {
      @apply text-sm font-medium text-black;
    }
  }
}

@layer components {
  .icon {
    @apply rounded p-1 hover:cursor-default hover:bg-gray-200;
  }

  #welcome {
    @apply absolute top-1/2 left-1/2 flex -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center text-gray-200 select-none max-sm:h-screen max-sm:w-full max-sm:px-10;

    .small-screen {
      @apply absolute top-10 m-7 rounded-md bg-red-300/20 p-3 backdrop-blur-lg sm:hidden;

      p {
        @apply flex-1 text-center font-roboto text-[16px] text-gray-400;
      }
    }
  }

  #dock {
    @apply absolute bottom-5 left-1/2 z-50 -translate-x-1/2 select-none max-sm:hidden;

    .dock-container {
      @apply flex items-end justify-between gap-1.5 rounded-2xl bg-white/20 p-1.5 backdrop-blur-md;
    }

    .tooltip {
      @apply w-fit! rounded-md! bg-blue-200! px-3! py-1! text-center! text-xs! text-blue-900! shadow-2xl!;
    }

    .dock-icon {
      @apply size-14 cursor-pointer 3xl:size-20;

      img {
        @apply object-cover object-center;
      }
    }
  }

  #window-controls {
    @apply flex gap-2;

    .close {
      @apply size-3.5 cursor-pointer rounded-full bg-[#ff6157];
    }

    .minimize {
      @apply size-3.5 rounded-full bg-[#ffc030];
    }

    .maximize {
      @apply size-3.5 rounded-full bg-[#2acb42];
    }
  }

  #window-header {
    @apply flex items-center justify-between rounded-t-lg border-b border-gray-200 bg-gray-50 px-4 py-3 text-sm text-gray-400 select-none;
  }

  #terminal {
    @apply absolute top-32 left-1/12 w-xl overflow-hidden rounded-xl bg-white shadow-2xl drop-shadow-2xl;

    h2 {
      @apply w-full text-center text-sm font-bold;
    }

    .techstack {
      @apply p-5 font-roboto text-sm;

      .label {
        @apply ms-10 mt-7 flex items-center;
      }

      .content {
        @apply my-5 space-y-1 border-y border-dashed py-5;

        li {
          .check {
            @apply w-5 text-[#00A154];
          }

          h3 {
            @apply ms-5 w-32 font-semibold text-[#00A154];
          }

          ul {
            @apply flex items-center gap-3;
          }
        }
      }

      .footnote {
        @apply space-y-1 text-[#00A154];

        p {
          @apply flex items-center;

          svg {
            @apply me-5 w-5;
          }
        }
      }
    }
  }
}
